.chat-box-input-div{
    margin-top: 2%; 
    display: flex;
    gap: 10px;
}

.chat-box-input{
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 2%;
}
.chat-box-send-btn{
    padding: 2%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3498db;
    color: white;
}


.chat-box-user-msg,
.chat-box-delivery-msg {
  width: 100%;
  margin-bottom: 10px;
}

.chat-box-delivery-msg div{
  color: white;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.chat-box-user-msg div{
  color: white;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.chat-box-delivery-msg div div{
  background-color: green;
  width: fit-content;
  margin-right: 70px;
}
.chat-box-user-msg div div{
    background-color: blueviolet;
    width: fit-content; 
    margin-left: 70px;
}


