.bck-btn-icon{
  font-size: 35px;
  margin-left: 20px;
  margin-top: 20px;
  background: #fff;
}

.manage-order-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .manage-order-section-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .manage-order-food-list {
    width: 60%;
  }
  
  .manage-order-food-items {
    list-style: none;
    padding: 0;
  }
  

  .manage-order-food-item {
    width: 340px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .manage-order-food-name {
    font-weight: bold;
  }

  .manage-order-img-div img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .manage-order-delivery-section {
    width: 35%;
  }
  
  .manage-order-delivery-status {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .manage-order-chat-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
  }
  
  .manage-order-chat-area {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    min-height: 150px;
    min-width: 250px;
    overflow-y: auto;
  }

  /* ManageOrderComponent.css */
/* ... (previous styles) */

.manage-order-delivery-line {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* row-gap: 20px; */
  margin-bottom: 20px;
}

.manage-order-status-point {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  color: #ccc;
}

.manage-order-status-point span {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 20px;
}

.tracking-line-div{
  margin-left: 5px;
  width: 5px ;
  height: 35px;
  background: #ccc;
}

.manage-order-status-point.active .tracking-line-div {
  background: green !important;
}


.manage-order-status-point i.active {
  color: green;
}

.manage-order-status-point span.active {
  color: green;
}

.manage-order-status-point.completed {
  color: green;
}


  @media screen and (max-width: 768px) {
    .manage-order-container {
        display: block;
    }
    
  }
  