/* ManageOrderComponent.css */
.manage-order-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .manage-order-section-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .manage-order-food-list {
    width: 60%;
  }
  
  .manage-order-food-items {
    list-style: none;
    padding: 0;
  }
  

  .manage-order-food-item {
    width: 340px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .manage-order-food-name {
    font-weight: bold;
  }

  .manage-order-img-div img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .manage-order-delivery-section {
    width: 35%;
  }
  
  .manage-order-delivery-status {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .manage-order-chat-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
  }
  
  .manage-order-chat-area {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    min-height: 150px;
    min-width: 250px;
    overflow-y: auto;
  }

  @media screen and (max-width: 768px) {
    .manage-order-container {
        display: block;
    }
    
  }
  