.update-profile-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.update-profile-box-div{
    width: 500px !important;
    background: rgba(203, 203, 252,0.5);
    padding: 3%;
    border-radius: 10px;
    font-weight: bold;
    color: #0077b6;

}
.update-profile-box-div:hover{
    background: rgba(203, 203, 252,0.6);
    color: #040404;
    
}
.update-profile-submit-button{
    
    background: white !important;
    color: #0077b6 !important;
    border: 1px solid #0077b6 !important;
}
.update-profile-submit-button:hover{
    background: #0077b6 !important;
    color: whitesmoke !important;
    transition: 0.5s ease !important;
}