.update-profile-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.update-profile-box-div{
    width: 500px !important;
}
.update-profile-submit-button{
    
    background: white !important;
    color: #0077b6 !important;
    border: 1px solid #0077b6 !important;
}
.update-profile-submit-button:hover{
    background: #0077b6 !important;
    color: whitesmoke !important;
    transition: 0.5s ease !important;
}