.delivery-home-main {
    width: 100%;
    height: 100vh;
}

.delivery-home-second {
    width: 100%;
    height: 100%;
}

.delivery-home-heading {
    display: flex;
    width: 100%;
    padding: 2%;
    height: 12%;
}

.delivery-home-back-btn button {
    background: black;
    font-weight: bold;
    color: whitesmoke;
    padding: 8px;
    border-radius: 6px;
    margin-right: 10px; 
}

.delivery-heading {
    margin-left: auto; 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.delivery-home-options-div {
    display: flex;
    width: 100%;
    height: 88%;
}

.delivery-home-left,
.delivery-home-right {
    width: 50%; 
    height: 100%;
}


.delivery-home-left-1,
.delivery-home-left-2,
.delivery-home-right-1,
.delivery-home-right-2 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}


.delivery-home-left-1-1,
.delivery-home-left-2-2,
.delivery-home-right-1-1,
.delivery-home-right-2-2 {
    border: 2px solid rgb(196, 185, 185); 
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 2%;
    transition: box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.delivery-home-left-1-1,
.delivery-home-left-2-2,
.delivery-home-right-1-1,
.delivery-home-right-2-2 {
    text-align: center; 
}

.delivery-home-left-1-1:hover,
.delivery-home-left-2-2:hover,
.delivery-home-right-1-1:hover,
.delivery-home-right-2-2:hover {
    box-shadow: 5px 5px 15px 2px rgb(94, 92, 92) inset;
}
.work-details-pie-chart-div{
    object-fit: cover;
    width: 150px;
    height: 150px;
    overflow: hidden;
    background-image: url('https://img.freepik.com/free-vector/colorful-pie-charts_1006-5.jpg?size=626&ext=jpg&ga=GA1.1.679009090.1705490377&semt=ais');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    border-radius: inherit;

}


.not-span {
    background: red !important;
    width: 35px !important;
    height: 35px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 50% !important;
    font-weight: bold;
    font-size: large;
    animation: notify 3s ease infinite;
}

@media screen and (max-width: 560px) {
    .delivery-home-options-div {
        display: block;
    }

    .delivery-home-left,
    .delivery-home-right {
        width: 100%; 
    }
}

.delivery-home-left-1,
.delivery-home-left-2,
.delivery-home-right-1,
.delivery-home-right-2 {
    margin-bottom: 20px; 
}

.delivery-home-right-1-1,
.delivery-home-right-2-2 {
    background-color: #f0f0f0; 
}



@keyframes notify {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-20px);
      }
      60% {
        transform: translateY(-10px);
      }
}