.admin-home-main-div {
    width: 100%;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
  }
  .admin-home-heading{
    font-weight: 900;
    letter-spacing: 3px;
    font-size: xx-large;
  }
  
  .admin-home-second-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .admin-home-third-div{
    width: 97%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    margin-left: 3%;
  }
  
  .admin-home-third-div div {
    height: 250px;
    width: 250px;
    /* display: flex; */
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    transition: box-shadow 0.3s ease; 
    border: 1px solid rgba(152, 151, 151,0.5);
  }
  /* .admin-home-content-div1 div div, */
  .admin-home-third-div div div {
    display: none; 
    border-left: 3px solid blue ;
    border-top: 3px solid blue ;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    color: black;
    position: absolute;
    width: 11%;
    height: auto;
    padding: 1%;
    background: white;
    border-radius: 0 0 60px 0;
    
  }
.admin-home-hotels-card-div:hover .hotel-additional-div{
    display: block;
}
.admin-home-users-card-div:hover .users-additional-div{
    display: block;
}
.admin-home-delivery-card-div:hover .delivery-additional-div{
  display: block;
}
.admin-home-deliveryapprove-card-div:hover .deliveryapprove-additional-div{
  display: block;
}
.admin-home-growth-card-div:hover .growth-additional-div{
    display: block;
}
.admin-home-hotelrequest-card-div:hover .new-hotel-additional-div{
    display: block;
}
.admin-home-hoteleditrequest-card-div:hover .edit-hotel-additional-div{
    display: block;
}
.complaints-additional-div:hover .admin-home-complaint-name-div{
    display: block;
}

  /* .admin-home-content-div1 div:hover, */
  .admin-home-third-div div:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); 
  }
  
  /* .admin-home-content-div1 div img, */
  .admin-home-third-div div img {
    width: 300%;
    object-fit: cover; 
    transition: transform 0.5s ease;
  }
  /* .admin-home-content-div1 div:hover img, */
.admin-home-third-div div:hover img {
    transform: scale(0.9)
}

  

@media (max-width: 1200px) {
  .admin-home-third-div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .admin-home-third-div {
    grid-template-columns: repeat(2, 1fr);
  }

@media (max-width: 550px) {
    .admin-home-third-div {
      grid-template-columns: repeat(1, 1fr);
    }
}
}